biblioteca.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"  xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="bib" type="bibType"/>
  <xs:complexType name="autorType">
    <xs:sequence>
      <xs:element name="nombre">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="W."/>
            <xs:enumeration value="Serge"/>
            <xs:enumeration value="Darcy"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="apellido">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="stevens"/>
            <xs:enumeration value="abiteboul"/>
            <xs:enumeration value="gerbarg"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
    <xs:attribute type="xs:string" name="identificacion" use="required"/>
  </xs:complexType>
  <xs:complexType name="libroType">
    <xs:sequence>
      <xs:element name="titulo">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="TCP/IP Illustrated"/>
            <xs:enumeration value="Advanced Programming for Unix environment"/>
            <xs:enumeration value="Data on the Web"/>
            <xs:enumeration value=" Economics of Technology for Digital TV"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element type="autorType" name="autor"/>
      <xs:element name="editorial">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="Addison-Wesley"/>
            <xs:enumeration value="Morgan Kaufmann editorials"/>
            <xs:enumeration value="Kluwer Academic editorials"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="precio">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="65.95"/>
            <xs:enumeration value="39.95"/>
            <xs:enumeration value="129.95"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
    <xs:attribute type="xs:string" name="codigo" use="required"/>
    <xs:attribute type="xs:string" name="anyo" use="required"/>
  </xs:complexType>
  <xs:complexType name="bibType">
    <xs:sequence>
      <xs:element type="libroType" name="libro" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="nombre"/>
    <xs:attribute type="xs:string" name="centro"/>
  </xs:complexType>
</xs:schema>